@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Variables
$color-primary: #1e212c;
$color-white: #ffffff;
$color-accent: #ff3f3a;
$color-text-secondary: #9a9ca5;
$color-text-tertiary: #787a80;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 46px;

$line-height: (
  tight: 1.3,
  normal: 1.5,
  relaxed: 1.6
);

$max-width: 1230px;

$spacing-content: 24px;

$border-radius: 4px;
$transition-base: 0.2s ease-in-out;

$breakpoint-md: 1199px;
$breakpoint-sm: 640px;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: $color-primary;
  background-color: $color-white;
}

button, input, select, textarea {
  font-family: inherit;
}

// Page
.page {
  position: relative;
  min-height: 100vh;
  padding: 44px $spacing-content 86px;
  background-color: $color-white;

  &__main {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
  }
}

.background {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;

  &__semicircles,
  &__dots,
  &__arrows {
    position: absolute;
    max-width: 100%;
    height: auto;
  }

  &__semicircles {
    left: 3vw; // for 1920 = 56px
    top: 687px;
  }

  &__dots {
    left: 94vw;
    top: 50px;
  }

  &__arrows {
    left: 92vw; // for 1920 = 1763px
    top: 98vh; // for 1080 = 1054px
  }
}

// Courses Section
.courses {
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh; // for 1080px = 85px
    margin-bottom: 60px;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  &__suptitle {
    font-size: $font-size-base;
    font-weight: 700;
    line-height: map.get($line-height, normal);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: 900;
    line-height: map.get($line-height, tight);
    color: $color-primary;
    text-align: center;
  }

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
    gap: $spacing-content;

    @media (max-width: 1220px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}

// Search
.search {
  width: 315px;

  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 11px;
    padding-inline: 16px 14px;
    border-radius: $border-radius;
    border: 1px solid #d7dadd;
    background-color: $color-white;
  }

  &__icon {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    background: url('./assets/icon-search.svg') center / contain no-repeat;
  }

  &__input {
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    font-size: $font-size-sm;
    line-height: map.get($line-height, normal);
    color: $color-primary;

    &::placeholder {
      color: $color-text-secondary;
    }
  }
}

// Category Filter
.category-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  &__item {
    border-radius: $border-radius;
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      border-color: $color-accent;
    }

    &--active {
      border-color: $color-accent;

      & .category-filter__label,
      & .category-filter__count {
        color: $color-accent;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }

  &__label {
    font-size: $font-size-base;
    font-weight: 700;
    line-height: map.get($line-height, relaxed);
    color: $color-text-secondary;
  }

  &__count {
    font-size: $font-size-xs;
    font-weight: 900;
    line-height: map.get($line-height, normal);
    color: $color-text-secondary;
  }
}

// Card
.card {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: $border-radius;
  border: 1px solid #e5e8ed;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
  overflow: hidden;

  &--type_featured {
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05),
      0 12px 10px -6px rgba(154, 156, 165, 0.08),
      0 30px 24px -10px rgba(154, 156, 165, 0.1),
      0 80px 80px -20px rgba(154, 156, 165, 0.16);
  }

  &__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: $spacing-content;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    align-self: flex-start; // Align to start to prevent taking full width
    width: max-content; // Take only the width of the content
    padding: 1px 8px;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    line-height: map.get($line-height, normal);
    color: $color-white;

    &--design {
      background-color: #f52f6e;
    }

    &--hr {
      background-color: #f89828;
    }

    &--development {
      background-color: #7772f1;
    }

    &--management {
      background-color: #5a87fc;
    }

    &--marketing {
      background-color: #03cea4;
    }
  }

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: 700;
    line-height: map.get($line-height, normal);
    color: $color-primary;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price {
    font-size: $font-size-lg;
    font-weight: 700;
    line-height: map.get($line-height, normal);
    color: #ff4242;
  }

  &__divider {
    width: 1px;
    height: 16px;
    background-color: $color-text-tertiary;
  }

  &__author {
    font-size: $font-size-lg;
    line-height: map.get($line-height, normal);
    color: $color-text-tertiary;
  }
}

// Button More
.button-more {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  &__icon {
    width: $spacing-content;
    height: $spacing-content;
    background: url('./assets/icon-convert.svg') center / contain no-repeat;
  }

  &__text {
    font-size: $font-size-base;
    font-weight: 700;
    color: #424551;
  }
}
